section#education {
    max-width: 935px;
    width: 90%;
    margin: 80px auto;
}
section#education .education-header {
    font-size: 22px;
    margin-bottom: 30px;
}
section#education .timeline {
    border-left: 3px solid var(--white-color);
    margin-left: 12px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 1px;
    position: relative;
}
section#education .timeline-item {
    position: relative;
    margin-bottom: 40px;
}
section#education .timeline-item::before {
    content: '';
    position: absolute;
    left: -30.5px;

    width: 9px;
    height: 9px;
    background-color: var(--white-color);
    border-radius: 50%;
}   
section#education .date {
    font-size: 15px;
    color: var(--salmon-color);
    display: block;
    margin-bottom: 5px;
}

section#education .timeline-item h3 {
    font-size: 22px;
    color: var(--yellow-color);
    margin: 5px 0;
    line-height: 1.5;
    max-width: 800px;
}

section#education .timeline-item p {
    font-size: 19px;
    color: var(--white-color);
} 