/* Navbar + About section */

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    margin: 50px 0 150px 0;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--blue-color);
}

/* About */
section#hero {
    max-width: 935px;
    width: 90%;
    margin: 80px auto;
}

section#hero .profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

section#hero .hero-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

section#hero .hero-text h1 {
    font-size: 52px;
    font-weight: 700;
}

section#hero .status {
    width: 137px;
    height: 29px;
    border-radius: 10px;
    background-color:var(--blue-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #1F3A8A;
}

section#hero .description {
    font-size: 25px;
    line-height: 1.5;
    max-width: 915px;
    width: 100%;
    height: 96px;
}

section#hero .social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}



