section#projects {
    max-width: 935px;
    width: 90%;
    margin: 50px auto;
}

section#projects .links{
    display: flex;
    gap: 23px;
}

.link-button{
    height: 43px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.link-button:hover{
    background-color: var(--salmon-color);
    color: var(--black-color);
}

.link-button img {
    width: 30px;
    height: auto;
}

section#projects .project-container{
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#projects .projects-header h2{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 33px;
}

section#projects .project-container h3{
    font-size: 25px;
    color: var(--yellow-color);
}

section#projects .project-container p{
    max-width: 800px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

section#projects .project-container .preview{
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
