section#skills {
    max-width: 935px;
    width: 90%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#skills .skills-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

section#skills .skills-header h2 {
    font-size: 33px;
    font-weight: 700;
}

section#skills .skills-header img {
    width: 33px;
    height: 33px;
}

section#skills .skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#skills .skills-container .box {
    display: flex;
    gap: 20px;
}

section#skills .skills-container .box .title {
    font-size: 20px;
    font-weight: 500;
    display: block;
}


section#experience {
    max-width: 935px;
    width: 90%;
    margin: 80px auto;
}
section#experience .experience-header {
    font-size: 22px;
    margin-bottom: 30px;
}
section#experience .timeline {
    border-left: 3px solid var(--white-color);
    margin-left: 12px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 1px;
    position: relative;
}
section#experience .timeline-item {
    position: relative;
    margin-bottom: 40px;
}
section#experience .timeline-item::before {
    content: '';
    position: absolute;
    left: -30.5px;

    width: 9px;
    height: 9px;
    background-color: var(--white-color);
    border-radius: 50%;
}   
section#experience .date {
    font-size: 15px;
    color: var(--salmon-color);
    display: block;
    margin-bottom: 5px;
}

section#experience .timeline-item h3 {
    font-size: 22px;
    color: var(--yellow-color);
    margin: 5px 0;
    line-height: 1.5;
    max-width: 800px;
}

section#experience .timeline-item p {
    font-size: 19px;
    color: var(--white-color);
} 